<table class="tictactoe-board">
    <tbody>
        <tr>
            <td class="X-box">X</td>
            <td class="O-box">O</td>
            <td class="X-box">X</td>
        </tr>
        <tr>
            <td class="X-box">X</td>
            <td class="O-box">O</td>
            <td class="X-box">X</td>
        </tr>
        <tr>
            <td class="O-box" >O</td>
            <td class="X-box">X</td>
            <td class="O-box">O</td>
        </tr>
    </tbody>
</table>

<h2> Winner ..</h2>
<button>Restart</button>