/* You can add global styles to this file, and also import other style files */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 720px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: antiquewhite;
    color: white;
    overflow: hidden;
}

li {
    float: left;
    margin-left: 20px;
}
